html, body {
    font-family: $baseFont;
    -webkit-font-smoothing: antialiased;
    word-break: break-all;
    word-wrap: break-word;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd {
    padding: 0;
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
}

p {
    font-family: $baseFont;
}

li {
    list-style: none;
}

em {
    font-style: normal;
}

a{
    color:$brandColor-H;
    outline: 0;
    text-decoration: none;
    font-weight: 400 !important;
    font-family: $baseFont;
    
    &:hover{
       text-decoration: none;
    }
}

button{
    font-family: $baseFont;
    &:focus{
       outline: 0;
    }
}

label{
   &.error{
      color:$brandRed;
   }
}

.btn.focus, 
.btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea {
    font-family: $baseFont;
    font-size: 1.2rem;
    outline:none;
    -webkit-appearance: none;
}

input {
    font-family: $baseFont;
    outline: none !important;
    font-size: 1.4rem;
    -webkit-appearance: none;
}

%custom-input{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    vertical-align: bottom;
    background: $brandWhite;
    border: 1px solid $baseGrey;
    @include rounded-circle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

%input-after{
    content: '';
    display: block;
    color: $blueLight;
    @include absolute-center;
}

input[type=checkbox]{
    @extend %custom-input; 
    
    &:active{
       border-color: $blueLight;
       background-color: $blueLight;
    }
    
    &:checked{
	     border-color: $blueLight;
	    -webkit-box-shadow: inset 0 3px 2px rgba(0,0,0,0.1);
	    -moz-box-shadow: inset 0 3px 2px rgba(0,0,0,0.1);
	    box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
    }
    
    &:checked::after{
      @extend %input-after;
	  //background-image: url(../image/icon/icon-check-red.png);
	  //background-size: cover;
	  background-color: $blueLight;
	  @include rounded-circle;
	  width: 20px;
	  height: 20px;
    }
}

input[type=radio] {
    @extend %custom-input;
    &:active{
       border-color: $blueLight;
       background-color: $blueLight;
    }
    &:checked{
	     border-color: $blueLight;
	    -webkit-box-shadow: inset 0 3px 2px rgba(0,0,0,0.1);
	    -moz-box-shadow: inset 0 3px 2px rgba(0,0,0,0.1);
	    box-shadow: inset 0 2px 3px rgba(0,0,0,0.1);
    }
    &:checked::after{
      @extend %input-after;
      background-color: $blueLight;
	  @include rounded-circle;
	  width: 20px;
	  height: 20px;
    }
}
::-webkit-input-placeholder{
	color:$brandColor-S;
}
.mt88{
    margin-top:88px;
}

.mt68{
    margin-top:68px;
}

.mt58{
    margin-top:58px!important;
}

.mt48{
    margin-top:4rem;
}

.mt41 {
    margin-top: nth($NavHeight,1);
}

.mt50 {
    margin-top: nth($NavHeight,2);
}

.mt10 {
    margin-top: 10px;
}

.mt5 {
    margin-top: 5px;
}
.mt15{
   margin-top: 15px;
}

.mb8 {
    margin-bottom: 8px;
}

.mb5{
    margin-bottom: 5px;
}

.mb15{
    margin-bottom: 15px;
}

.mr10 {
    margin-right: 10px;
}

.mr5{
	margin-right:5px;
}

.ml5{
	margin-left:5px;
}

.ml10{
    margin-left:10px;
}

.ml15{
    margin-left:15px;
}

.pl10 {
    padding-left: 10px !important;
}
.pl15{
	padding-left:15px!important;
}
.pr5{
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pb50{
    padding-bottom:50px;
}

.pb70{
    padding-bottom:70px;
}

.pd10{
	padding:1rem;
}
.plSame{
	padding-left:1.5rem!important;
}
.w100{
	width:100%;
}
.bg-white {
    background-color: $brandWhite!important;
}

.bg-grey-light{
    background-color:$bgGreyLight;
}

.bg-blue-light{
    background-color:$blueLight;
}

.bg-blue-gradient{
    @include line-gradient-bg;
}

.brand-grey-h{
   color: $brandColor-H;
}

.brand-grey-m{
   color: $brandColor-M;
}

.brand-grey-s{
   color: $brandColor-S;
}

.brand-red {
    color: $brandRed !important;
}

.brand-blue{
    color: $blueLight !important;
}

.brand-orange{
    color:$brandOrange !important;
}

.clear {
    height: 0;
    overflow: hidden;
    clear: both;
}

[v-cloak] { display: none; }

::-webkit-scrollbar{
    display: none;
}
.s-cpd{
	padding:1.2rem 1rem 2rem 1rem;
}
.s-bdc-tb{
	border-top:1px solid $brandGrey;
	border-bottom:1px solid $brandGrey;
}
.s-bdc5{
	border-bottom:0.5rem solid $brandGrey;
}
.s-card{
	box-shadow: 0 5px 10px rgba(233, 233, 233, .95);
	border-radius: 10px;
	background-color:$brandWhite;
}
.s-error-input{
	border: 1px solid $brandRed!important;
}

.s-model-m{
	margin:30% 3rem 0;
}
.s-orange{
	font-size: 1.6rem!important;
    color: $orangeLight!important;
}
.z-crt{
	color:$brandBrown!important;
}

.f-mask{
	background:rgba(51, 51, 51, .6)
}

.s-shadow1{
	box-shadow: 0 2px 4px rgba(225, 225, 225, .8);
}

.s-shadow2{
	box-shadow: 0 5px 10px rgba(233, 233, 233, .95);
}