$baseFont:Microsoft YaHei !important;
$baseAColor:#333 !default;
$baseGrey:#ccc !default;
$brandWhite:#fff !default;
$brandRed:#de374e !default;
$brandGrey:#eeeded !default;
$bgGrey:#f5f5f5 !default;
$brandColor-H:#333 !default;
$brandColor-M:#666 !default;
$brandColor-S:#999 !default;
$NavHeight:41px 50px !default;
$brandOrange:#ff4d00 !default;
$brandBrown:#42383e;
$bgGreyLight:#f2f5f9;
$orangeLight:#f5b890;
$blueLight:#69c8ed;