@media only screen and (max-width:320px) {
    html {
        font-size: 9px !important;
    }

    #menu {
        max-height: 300px;
    }
    
    .marquee-top{
         .marquee-content{
            padding-left:3.5rem !important; 
         }
    }
    
    .lottery{
       height:247px;
       
       .lottery-row{
       
	       .lottery-btn{
	          a{
	             padding-top: 5px;
	          }
	        }
       }
    }
    
    .awards-area {
       height: 90px;
    }
}

@media only screen and (min-width:320px) and (max-width:352px) {
    html {
        font-size: 10px !important;
    }

    #menu {
        max-height: 350px;
    }
    
    .member img{
		height:60px!important;
		width:60px!important;
	}
	
	.pro-img{
		background:$brandWhite;
		img{
			width:180px;
			height:180px;
		}
	}
	
	.my-lottery-entrance{
	     top:4rem;
	}
	
	.recharges-area{
	   margin-top:6rem;
	    
	   .desc {
	      padding-left:2.5rem;
	   }
	   
	   .btn-recharge{
	       margin-top:-0.1rem;
	   }
	} 
	
	.coupon-get{
	    bottom:6px;
	}
	
	.coupon-list{
		padding:0px;
	}
	.order-coupon-box{
		.coupon-price{
			width:28%;
		}
	}
}

@media only screen and (min-width:352px) and (max-width:384px) {
    html {
        font-size: 11px !important;
    }
}

@media only screen and (min-width:384px) and (max-width:416px) {
    html {
        font-size: 12px !important;
    }

    #menu {
        max-height: 490px;
    }
    
    .lottery{
       height:326px;
       .lottery-row{

          a{
            //height:80px;
          }
          
          .lottery-unit{
             //height: 80px;
          }
       }
    }
    
    .awards-area{
        height:180px;
    }
    
    .my-lottery-content{
    
	     .lottery-list{ 
	     
	        .lottery-detail{ 
	            height:90px;
	            
	           .btn-draw {
	               padding-top:12px;
	           }
	           
	         }
	     }
	}
}

@media only screen and (min-width:416px) and (max-width:448px) {
    html {
        font-size: 13px !important;
    }
}

@media only screen and (min-width:448px) and (max-width:480px) {
    html {
        font-size: 14px !important;
    }
}

@media only screen and (min-width:480px) and (max-width:512px) {
    html {
        font-size: 15px !important;
    }
}

@media only screen and (min-width:512px) and (max-width:544px) {
    html {
        font-size: 16px !important;
    }
}

@media only screen and (min-width:544px) and (max-width:576px) {
    html {
        font-size: 17px !important;
    }
}

@media only screen and (min-width:576px) and (max-width:608px) {
    html {
        font-size: 18px !important;
    }
}

@media only screen and (min-width:608px) and (max-width:640px) {
    html {
        font-size: 19px !important;
    }
}

@media only screen and (min-width:640px) {
    html {
        font-size: 20px !important;
    }
}