$baseFont:Microsoft YaHei !important;
$baseAColor:#333;
$baseGrey:#ccc;
$brandWhite:#fff;
$brandRed:#ff3861;
$brandGrey:#eeeded;
$bgGrey:#f5f5f5;
$brandColor-H:#333;
$brandColor-M:#666;
$brandColor-S:#999;
$NavHeight:50px 50px;
$brandOrange:#ff4d00;
$brandOrange-L:#ff3861;
$brandBlue:#02cfff;